/* =======General for all pages within Trips app======= */
.banner-logo {
  margin-bottom: 20pt;
}
.banner-logo h1{
  color: #ff8000;
  font-size: 42pt;
  font-family: 'American Typewriter';
  letter-spacing: -1px;
}

.trip-list {
  background: #e6f2ff;
  margin-bottom: 50pt;
}

.trip-list .header {
  background: #99ccff;
  padding: 2pt;
}

li.hidden_bullet {
  list-style:none;
}

.header i{
  margin-left: 7pt;
}

.header h3{
  margin-right: 20pt;
  display: inline;
}

.header a{
  font-size: 20pt;
}

.bold-label {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 8pt;
}

.trip-info {
  font-size: 1.1em;
}

.list-padding {
  margin-top: 5pt;
  margin-bottom: 10pt;
}

/* =======Location Form======= */
#id_title {
  width: 100%
}

#id_latitude {
  width: 40%
}

#id_longitude {
  width: 40%
}

/* =======Member search field======= */
#id_email_search {
  width: 80%;
  margin: 8px;
}

.trip-forms .form-control-label {
  font-size: 1.1em;
}

#confirm-add-member {
  display: none;
}

#current-member-alert {
  display: none;
  padding: 1px;
}

#confirm-add-member p{
  display: inline-block;
  margin-right: 15px;
}

#confirm-add-member button{
  margin: 2px;
}

#new-member-added {
  display: none;
}


/* =======Notifications======= */
#trip-notifications .trip-id {
  display: none;
}


/* =======Google Map API======= */
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Futura;
  letter-spacing: .5pt;
  margin-bottom: 30px;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

#pac-input {
  background-color: #fff;
  font-family: Futura;
  font-size: 1.4em;
  font-weight: 300;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 99%;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#start_date {
  display: none;
}
#div_id_start_date {
  margin-bottom: 0;
}

/* =======Trip's Emergency Info======= */
.nineoneone {
  font-size: 1.3em;
  font-weight: bold;
  color: firebrick;
}
.einfo p {
  margin: 0;
}
.margin-sixteen {
  margin-bottom: 16px;
}
.italic {
  font-style: italic;
}
#emergency_info_table {
  width: 100%;
}
#emergency_info_table td, #emergency_info_table th {
  border: 1px solid black;
  padding: 6px;
}
#emergency_info_table th {
  background: #99ccff;
  font-size: 1.1em;
  font-weight: bold;
}
#emergency_info_table tr:nth-child(even) {
  background-color: white;
}
}
