{% extends 'core/base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'account_info/style.css' %}" />
{% endblock stylesheet %}

{% block content %}
  <div class="page">
    <div class="wrapper">
      <div class="content-wrapper">
        <div class="content">
          <h1>Edit Emergency Contact</h1><br>
          {% load crispy_forms_tags %}
          {% crispy form form.helper %}
        </div>
      </div>
      {% include "../account_info/menu.html" %}
    </div>
  </div>
{% endblock content %}
