<div class="sidebar">
  <div class="sidebar-heading">
    <h2>Account Info:</h2>
  </div>
  <ul class="nav nav-sidebar">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'account_info:account_profile' %}">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Picture</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'account_info:emerg_contact_list' %}">Emergency Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'account_info:vehicle_list' %}">Vehicle Info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Login Info</a>
    </li>
  </ul>
</div>
