# PostgreSQL
DATABASE_URL=

# General settings
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=

# Used with email
DJANGO_MAILGUN_API_KEY=
MAILGUN_SENDER_DOMAIN=

# Used with Google Maps
GOOGLE_MAPS_API=
