# PostgreSQL
DATABASE_URL=

# General settings
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=#=j8t0s6t#bzh(2cn84!*w7&056%7k8wcisi0x96urmj&=#_rv

# Used with email
DJANGO_MAILGUN_API_KEY=
MAILGUN_SENDER_DOMAIN=

# Used with Google Maps
GOOGLE_MAPS_API=
