{% extends 'core/base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'trips/style.css' %}" />
{% endblock stylesheet %}

{% block content %}
  <div class="page">
    <div class="wrapper">
      <div class="banner-logo" id="BannerLogo">
        <h1>{{ page_title }}</h1>
      </div>
      <div class="trip-list" id="trip-list">
        <div class="header">
          <h3>Required Information</h3>
        </div>
        {% load crispy_forms_tags %}
        {% crispy form form.helper %}
      </div>
      {% include "./menu.html" %}
    </div>
  </div>
{% endblock content %}
