{% extends 'core/base.html' %}

{% load static %}
{% load trip_extras %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'trips/style.css' %}" />
{% endblock stylesheet %}

{% block content %}
  <div class="page">
    <div class="wrapper">
      <div class="banner-logo" id="BannerLogo">
        <h1>{{ page_title }}</h1>
        <div class="row">
          <div class="col-sm-3">
            <p>Start date: {{ trip.start_date }}</p>
          </div>
          <div class="col-sm-3">
            {% if trip.number_nights == 0 %}
              <p>Day trip</p>
            {% else %}
              <p>{{ trip.number_nights }} Nights</p>
            {% endif %}
          </div>
        </div>
        {% if end_date %}
          <div class="row">
            <div class="col-sm-3">
              <p>End date: {{ end_date }}</p>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="trip-list" id="trip-list">
        <div class="header">
          <h3>Trailhead Location</h3>
        </div>
        {% if trailhead %}
          {% if trailhead.title %}
            <p>Trailhead: {{ trailhead.title }}</p>
          {% endif %}
          {% if trailhead.latitude and trailhead.longitude %}
            <p>Trailhead coordinates: {{ trailhead.latitude }}, {{ trailhead.longitude }}</p>
          {% endif %}
        {% endif %}

        {% if endpoint %}
          {% if endpoint.title %}
            <p>End point: {{ endpoint.title }}</p>
          {% endif %}
          {% if endpoint.latitude and endpoint.longitude %}
            <p>End point coordinates: {{ endpoint.latitude }}, {{ endpoint.longitude }}</p>
          {% endif %}
        {% endif %}
      </div>
      <div class="trip-list" id="trip-list">
        <div class="header">
          <h3>Objectives</h3>
        </div>
        {% if objectives.objectivelist == None %}
          <p>There are no objectives for this trip yet</p>
        {% else %}
          {% for i in objectives.objrange %}
            <p>{{ objectives.datelist|index:i }}</p>
            {% for obj in objectives.objectivelist|index:i %}
              <ul>
                <li>
                  <p>{{ obj.title }}</p>
                  {% if obj.latitude and obj.longitude %}
                    <p>Coordinates: {{ obj.latitude }}, {{ obj.longitude }}</p>
                  {% endif %}
                </li>
              </ul>
            {% endfor %}
          {% endfor %}
        {% endif %}
      </div>
      {% if trip.number_nights > 0 %}
        <div class="trip-list" id="trip-list">
          <div class="header">
            <h3>Camp Location{% if trip.number_nights > 1 %}s{% endif %}</h3>
          </div>
          {% if objectives.objectivelist == None %}
            <p>There are no camp spots for this trip yet</p>
          {% else %}
            {% for i in objectives.objrange %}
              <p>{{ objectives.datelist|index:i }}</p>
              {% for obj in objectives.objectivelist|index:i %}
                <ul>
                  <li>
                    <p>{{ obj.title }}</p>
                    {% if obj.latitude and obj.longitude %}
                      <p>Coordinates: {{ obj.latitude }}, {{ obj.longitude }}</p>
                    {% endif %}
                  </li>
                </ul>
              {% endfor %}
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}
