{% extends 'core/base.html' %}

{% load static %}
{% load trip_extras %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'trips/style.css' %}" />
{% endblock stylesheet %}

{% block content %}
  <div class="page">
    <div class="wrapper">
      <div class="banner-logo" id="BannerLogo">
        <h1>{{ page_title }}</h1>
        <div class="row">
          <div class="col-sm-3">
            <p>Start date: {{ trip.start_date }}</p>
          </div>
          <div class="col-sm-3">
            {% if trip.number_nights == 0 %}
              <p>Day trip</p>
            {% else %}
              <p>{{ trip.number_nights }} Night{% if trip.number_nights > 1 %}s{% endif %}</p>
            {% endif %}
          </div>
        </div>
        {% if end_date %}
          <div class="row">
            <div class="col-sm-3">
              <p>End date: {{ end_date }}</p>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="trip-list" id="trip-list">
        <div class="header">
          <h3>Trailhead Location</h3>
        </div>
        {% if trailhead %}
          {% if trailhead.title %}
            <div class="row">
              <div class="col-md-3">
                <p>Trailhead:</p>
              </div>
              <div class="col-md-5">
                <p>{{ trailhead.title }}</p>
              </div>
            </div>
          {% endif %}
          {% if trailhead.latitude and trailhead.longitude %}
            <div class="row">
              <div class="col-md-3">
                <p>Trailhead coordinates: </p>
              </div>
              <div class="col-md-5">
                <p>{{ trailhead.latitude }}, {{ trailhead.longitude }}</p>
              </div>
            </div>
          {% endif %}
        {% else %}
          <a href="{% url 'trips:trailhead_create' trip.id %}">Add trailhead information</a>
        {% endif %}
      </div>
      <div class="trip-list" id="trip-list">
        <div class="header">
          <div class="row">
            <div class="col-md-5">
              <h3>Objectives</h3>
            </div>
            <div class="col-md-6">
              <a href="{% url 'trips:objective_create' trip.id %}">Add new objective</a>
            </div>
          </div>
        </div>
        {% if trip.number_nights == 0 %}
          {% for date, objective_list in objective_dict.items %}
            {% if objective_list|length > 0 %}
              {% for objective in objective_list %}
                <div class="row">
                  <div class="col-sm-2">
                    <a href="{% url 'trips:objective_edit' trip.id objective.id  %}">edit</a>
                    <a href="{% url 'trips:objective_delete' trip.id objective.id  %}">delete</a>
                  </div>
                  <div class="col-sm-8">
                    <li>{{ objective.title }}</li>
                    {% if objective.latitude and objective.longitude %}
                      <li class='hidden_bullet'>Coordinates: {{ objective.latitude }}, {{ objective.longitude }}</li>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          {% endfor %}
        {% else %}
          {% for date, objective_list in objective_dict.items %}
            <h5 class='location_date'>{{ date }}</h5>
            {% if objective_list|length > 0 %}
              {% for objective in objective_list %}
                <div class="row">
                  <div class="col-sm-2">
                    <a href="{% url 'trips:objective_edit' trip.id objective.id  %}">edit</a>
                    <a href="{% url 'trips:objective_delete' trip.id objective.id  %}">delete</a>
                  </div>
                  <div class="col-sm-8">
                    <li>{{ objective.title }}</li>
                    {% if objective.latitude and objective.longitude %}
                      <li class='hidden_bullet'>Coordinates: {{ objective.latitude }}, {{ objective.longitude }}</li>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                  <ul>
                    <li>No objectives available</li>
                  </ul>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
      <p>copy here</p>
    </div>
  </div>
{% endblock content %}
