{% extends 'core/base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'trips/style.css' %}" />
{% endblock stylesheet %}

{% block content %}
  <div class="page">
    <div class="wrapper">
      <div class="banner-logo" id="BannerLogo">
        <h1>{{ page_title }}</h1>
        <div class="row">
          <div class="col-sm-3">
            <p>Start date: {{ trip.start_date }}</p>
          </div>
          <div class="col-sm-3">
            {% if trip.number_nights == 0 %}
              <p>Day trip</p>
            {% else %}
              <p>{{ trip.number_nights }} Nights</p>
            {% endif %}
          </div>
        </div>
        {% if end_date %}
          <div class="row">
            <div class="col-sm-3">
              <p>End date: {{ end_date }}</p>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="trip-list" id="trip-list">
        <div class="header">
          <h3>Trailhead Location</h3>
        </div>
        {% load crispy_forms_tags %}
        {% crispy form form.helper %}
      </div>
      <div class="trip-list" id="trip-list">
        <div class="header">
          <h3>Objectives</h3>
        </div>
        {% load crispy_forms_tags %}
        {% crispy form form.helper %}
      </div>
      <div class="trip-list" id="trip-list">
        <div class="header">
          <h3>Camp Location{% if trip.number_nights > 1 %}s{% endif %}</h3>
        </div>
        {% load crispy_forms_tags %}
        {% crispy form form.helper %}
      </div>
    </div>
  </div>
{% endblock content %}
