{% extends 'core/base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'trips/style.css' %}" />
{% endblock stylesheet %}

{% block javascript %}
  <script src="{% static 'js/csrftoken.js' %}"></script>

  <script>
    function ajax_user_exists() {
      var email = $("#id_email_search").val();

      $.ajax({
        url: "{% url 'trips:user_exists' %}",
        data: {
          "email": email
        },
        dataType: "json",
        type: "GET",
        success: function(data) {
          if (data.valid_add_member) {
            $("#id_email_search").prop('disabled',true);
            $("#confirm-add-member").find("p").text("Add " + email + " to the trip?");
            $("#confirm-add-member").slideDown('fast');
            $("#confirm-button").focus();
          }
        }
      });
    }

    $("#email-search-button").on('click', function(){
      ajax_user_exists();
    });

    $("#trip-member-search").on('submit', function(event){
      event.preventDefault();
      ajax_user_exists();
    });

    $("#confirm-add-member").on('click', '#confirm-button', function() {
      var email = $("#id_email_search").val();

      $.ajax({
        url: "{% url 'trips:add_trip_member' %}",
        data: {
          "email": email,
          "trip": "{{ trip.id }}"
        },
        dataType: "json",
        type: "POST",
        success: function() {
          $("#id_email_search").focus();
          $("#confirm-add-member").slideUp('fast');
          $("#id_email_search").prop('disabled',false);
        }
      });
    });

    $("#confirm-add-member").on('click', '#cancel-button', function() {
      $("#confirm-add-member").slideUp('fast');
      $("#id_email_search").focus();
      $("#id_email_search").prop('disabled',false);
    });

  </script>
{% endblock javascript %}

{% block content %}
  <div class="wrapper">
    {% include "./menu.html" %}
    <div class="content-wrapper">
      <div class="content">
        <div class="banner-logo">
          <h1>{{ trip.title }}</h1>
        </div>
        <div class="trip-list" id="trip-list">
          <div class="header">
            <h3>Add Members</h3>
          </div>
          {% load crispy_forms_tags %}
          {% crispy form form.helper %}
          <div id="confirm-add-member" class="trip-info">
            <p>Add email-address to trip?</p>
            <button type="button" id="confirm-button" class="btn btn-success btn-lg">Confirm</button>
            <button type="button" id="cancel-button" class="btn btn-secondary">Cancel</button>
          </div>
          <div id="new-member-added" class="trip-info">
            <p>email address added successfully</p>
          </div>
        </div>
        <div class="trip-list" id="trip-list">
          <div class="header">
            <h3>Pending Members</h3>
          </div>
          {% if pending_members|length > 0 %}
            <ul>
              {% for member in pending_members %}
                <div class="list-padding">
                  <li class="trip-info">{{ member.email }}</li>
                  {% if member.member and member.member.preferred_name %}
                    <li class="hidden_bullet trip-info">{{ member.member.preferred_name }}</li>
                  {% endif %}
                </div>
              {% endfor %}
            </ul>
          {% else %}
            <div class="trip-info">
              <p>There are no pending members at this time</p>
            </div>
          {% endif %}
        </div>
        <div class="trip-list" id="trip-list">
          <div class="header">
            <h3>Current Members</h3>
          </div>
          {% if current_members|length > 0 %}
            <ul>
              {% for member in current_members %}
                <div class="list-padding">
                  <li class="trip-info">{{ member.email }}</li>
                  {% if member.member and member.member.preferred_name %}
                    <li class="hidden_bullet trip-info">{{ member.member.preferred_name }}</li>
                  {% endif %}
                </div>
              {% endfor %}
            </ul>
          {% else %}
            <div class="trip-info">
              <p>There are no current members at this time</p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
