{% extends 'core/base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'trips/style.css' %}" />
{% endblock stylesheet %}

{% block javascript %}
  {# Get csrf token from csrftoken cookie #}
  <script src="{% static 'js/csrftoken.js' %}"></script>

  {# Search and add existing users to trips using AJAX #}
  <script>
    // If email isn't already registered, a confirmation will be displayed
    function ajax_user_exists() {
      var email = $("#id_email_search").val();
      var trip_id = "{{ trip.id }}"

      $.ajax({
        url: "{% url 'trips:user_exists' %}",
        data: {
          "email": email,
          "trip_id": trip_id
        },
        dataType: "json",
        type: "GET",
        success: function(data) {
          if (data.status == 'valid') {
            $("#id_email_search").prop('disabled',true);
            $("#current-member-alert").slideUp("fast");
            $("#confirm-add-member").slideDown("fast");
            $("#confirm-add-member").find("p").text("Add " + email + " to the trip?");
            $("#confirm-button").focus();
          } else if (data.status == 'current_member') {
            $("#current-member-alert").find("p").text(email + " is already a member");
            $("#current-member-alert").slideDown("fast");
            $("#id_email_search").focus();
          }
        }
      });
    }

    // Calls on mouse click
    $("#email-search-button").on('click', function() {
      ajax_user_exists();
    });

    // Calls on enter press
    $("#trip-member-search").on('submit', function(event) {
      event.preventDefault();
      ajax_user_exists();
    });


    // Adds TripMember to Pending Members section
    function refresh_pending_members(data) {
      var list = $("#pending-members-list").find("ul");
      if (list.children().first().children().first().hasClass('empty-list')) {
        list.find('div').remove();
      }
      var pending_member = $('<div class="list-padding"><li class="trip-info">' +
        data.email + '</li><li class="hidden_bullet trip-info">' +
        data.preferred_name + '</li></div>');
      list.prepend(pending_member);
    }

    // If user confirms, TripMember and TripNotification
    $("#confirm-add-member").on('click', '#confirm-button', function() {
      var email = $("#id_email_search").val();
      $.ajax({
        url: "{% url 'trips:add_trip_member' %}",
        data: {
          "email": email,
          "trip_id": "{{ trip.id }}"
        },
        dataType: "json",
        type: "POST",
        success: function(data) {
          refresh_pending_members(data);
          $("#confirm-add-member").slideUp('fast');
          $("#id_email_search").prop('disabled',false);
          $("#id_email_search").val('');
          $("#id_email_search").focus();
        }
      });

      // POST to TripNotification
      $.ajax({
        url: "{% url 'trips:add_trip_notification' %}",
        data: {
          "email": email,
          "trip_id": "{{ trip.id }}"
        },
        dataType: "json",
        type: "POST",
        success: function(data) {
        }
      });
    });

    // Cancel clears search box and re-focuses
    $("#confirm-add-member").on('click', '#cancel-button', function() {
      $("#confirm-add-member").slideUp('fast');
      $("#id_email_search").prop('disabled',false);
      $("#id_email_search").focus();
    });

  </script>
{% endblock javascript %}

{% block content %}
  <div class="wrapper">
    {% include "./menu.html" %}
    <div class="content-wrapper">
      <div class="content">
        <div class="banner-logo">
          <h1>{{ trip.title }}</h1>
        </div>
        <div class="trip-list" id="trip-list">
          <div class="header">
            <h3>Add Members</h3>
          </div>
          {% load crispy_forms_tags %}
          {% crispy form form.helper %}
          <div id="confirm-add-member" class="trip-info">
            <p>Add email-address to trip?</p>
            <button type="button" id="confirm-button" class="btn btn-success btn-lg">Confirm</button>
            <button type="button" id="cancel-button" class="btn btn-secondary">Cancel</button>
          </div>
          <div id="current-member-alert" class="trip-info">
            <p>email-address is already a member</p>
          </div>
          <div id="new-member-added" class="trip-info">
            <p>email address added successfully</p>
          </div>
        </div>
        <div class="trip-list" id="pending-members-list">
          <div class="header">
            <h3>Pending Members</h3>
          </div>
          <ul>
            {% if pending_members|length > 0 %}
              {% for member in pending_members %}
                <div class="list-padding">
                  <li class="trip-info">{{ member.email }}</li>
                  {% if member.member and member.member.preferred_name %}
                    <li class="hidden_bullet trip-info">{{ member.member.preferred_name }}</li>
                  {% endif %}
                </div>
              {% endfor %}
            {% else %}
              <div class="list-padding">
                <li class="trip-info empty-list">There are no pending members at this time</li>
              </div>
            {% endif %}
          </ul>
        </div>
        <div class="trip-list" id="current-members-list">
          <div class="header">
            <h3>Current Members</h3>
          </div>
          <ul>
            {% if current_members|length > 0 %}
              {% for member in current_members %}
                <div class="list-padding">
                  <li class="trip-info">{{ member.email }}</li>
                  {% if member.member and member.member.preferred_name %}
                    <li class="hidden_bullet trip-info">{{ member.member.preferred_name }}</li>
                  {% endif %}
                </div>
              {% endfor %}
            {% else %}
              <div class="list-padding">
                <li class="trip-info empty-list">There are no current members at this time</li>
              </div>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
