{% extends 'core/base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'trips/style.css' %}" />
{% endblock stylesheet %}

{% block content %}
  <div class="wrapper">
    {% include "./menu.html" %}
    <div class="content-wrapper">
      <div class="content">
        <div class="banner-logo">
          <h1>{{ page_title }}</h1>
        </div>
        <div class="trip-list" id="trip-list">
          <div class="header">
            <h3>Add Members</h3>
          </div>
          <p>CODE HERE</p>
        </div>
        <div class="trip-list" id="trip-list">
          <div class="header">
            <h3>Pending Members</h3>
          </div>
          <p>CODE HERE</p>
        </div>
        <div class="trip-list" id="trip-list">
          <div class="header">
            <h3>Current Members</h3>
          </div>
          <p>CODE HERE</p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
