{% extends 'core/base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'trips/style.css' %}" />
{% endblock stylesheet %}

{% block javascript %}
  {# Get csrf token from csrftoken cookie #}
  <script src="{% static 'js/csrftoken.js' %}"></script>

  {# POST to TripMember to set accept_reqd=False #}
  <script>
    function ajax_accept_trip(data) {
      $.ajax({
        url: "{% url 'trips:update_trip_member' %}",
        data: data,
        dataType: "json",
        type: "POST",
        success: function(data) {
        }
      });
    }

    function ajax_delete_trip_notification(data) {
      $.ajax({
        url: "{% url 'trips:delete_trip_notification' %}",
        data: data,
        dataType: "json",
        type: "POST",
        success: function(data) {
        }
      });
    }

    //listener for accept click
    //calls ajax_accept_trip
    //calls ajax_delete_trip_notification
    //removes buttons
    //prints 'joined' in their place
    $(".accept-btn").on('click', function() {
      var data = {
        "trip_id": $(this).parent().parent().find(".trip-id").text(),
        "user_id": "{{ user_id }}"
      };
      ajax_accept_trip(data);
      ajax_delete_trip_notification(data)
      var td = $(this).parent();
      td.find("button").remove();
      td.append($('<p>Joined</p>'));
    });
  </script>

{% endblock javascript %}

{% block content %}
  <div class="wrapper">
    <div class="banner-logo" id="BannerLogo">
      <h1>Notifications</h1>
    </div>
    <div class="trip-list" id="trip-list">
      <div class="header">
        <h2>You've been invited to join the following trips:</h2>
      </div>
      {% if trip_notifications %}
        <table id="trip-notifications" class="table table-hover trip-info">
          <thead>
            <tr>
              <th class="trip-id">{# hidden column for trip_id #}</th>
              <th>Date</th>
              <th>Title</th>
              <th># Nights</th>
              <th>{# blank column for buttons #}</th>
            </tr>
          </thead>
          <tbody>
            {% for trip in trip_notifications %}
              <tr>
                <td class="trip-id">{{ trip.trip.id }}</td>
                <td class="start-date">{{ trip.trip.start_date }}</td>
                <td class="trip-title">{{ trip.trip.title }}</td>
                <td class="number_nights">{{ trip.trip.number_nights }}</td>
                <td class="buttons">
                  <button type="button" class="btn btn-success btn-lg accept-btn">Accept</button>
                  <button type="button" class="btn btn-secondary decline-btn">Decline</button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>No trip notifications at this time</p>
      {% endif %}
    </div>
    <div class="trip-list" id="trip-list">
      <div class="header">
        <h2>You've been asked to bring the following gear:</h2>
      </div>
      {% if item_notifications %}
        <table id="item-notifications" class="table table-hover trip-info">
          <thead>
            <tr>
              <th>Item</th>
              <th>Quantity</th>
              <th>Trip</th>
              <th>{#blank column for buttons #}</th>
            </tr>
          </thead>
          <tbody>
            {% for item in item_notifications %}
              <tr>
                <td>{{ item.description }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.trip.title }}</td>
                <td>
                  <button type="button" class="btn btn-success btn-lg accept">Accept</button>
                  <button type="button" class="btn btn-secondary decline">Decline</button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>No item notifications at this time</p>
      {% endif %}
    </div>
  </div>
{% endblock content %}
