      {% if trip.number_nights > 0 %}
        <div class="trip-list" id="trip-list">
          <div class="header">
            <div class="row">
              <div class="col-md-5">
                <h3>Camp Location{% if trip.number_nights > 1 %}s{% endif %}</h3>
              </div>
              <div class="col-md-6">
                <a href="{% url 'trips:camp_create' trip.id %}">Add new camp</a>
              </div>
            </div>
          </div>
          {% if camp_locations.locationlist == None %}
            <p>There are no camp spots for this trip yet</p>
          {% else %}
            {% for i in camp_locations.locationrange %}
              <p>{{ camp_locations.datelist|index:i }}</p>
              <ul>
                {% for obj in camp_locations.locationlist|index:i %}
                  <div class="row">
                    <div class="col-sm-2">
                      <a href="{% url 'trips:objective_edit' trip.id obj.id  %}">edit</a>
                      <a href="{% url 'trips:objective_delete' trip.id obj.id  %}">delete</a>
                    </div>
                    <div class="col-sm-8">
                      <li>
                        <p>{{ obj.title }}</p>
                        {% if obj.latitude and obj.longitude %}
                          <p>Coordinates: {{ obj.latitude }}, {{ obj.longitude }}</p>
                        {% endif %}
                      </li>
                    </div>
                  </div>
                {% endfor %}
              </ul>
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}
