{% extends 'project/base.html' %}

{% load static %}

{% block title %}About · Get Yr Beta{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/site_info/style.css' %}" />
{% endblock stylesheet %}

{% block content %}
  <div class="auth-container">
    <div class="heading">
      <h1 class="align-center">
        It's All <span class="logo">About</span> the Views
      </h1>
    </div>
    <hr>
    <p>
      <span class="logo">Get Yr Beta</span> is a trip planning application. It
      will facilitate, automate, and coordinate
      planning logistics for outdoor adventures. Create
      your trip, invite your friends, add your objectives, and assign group
      gear. Get Yr Beta makes planning easy and keeps your team safe.
    </p>
    <img id="about-me" src="{% static 'images/site_info/about_me.jpg' %}" alt="About me" height="220px" width="220px">
    <p>
      <span class="logo">Get Yr Beta</span> was created by Derek Covey.
      The idea stemmed from weekly group meetings with the Boeing Alpine
      Club, Boealps, where we went through the trip planning process weekly.
      Collecting numbers for the local sheriff's office, organizing carpools,
      and assigning group gear was always clunky and usually took
      longer than anyone wanted. <span class="logo">Get Yr Beta</span> was
      born as a tool to streamline this process and get everyone out to
      9lb Hammer sooner than later.
    </p>
    <p>
      Beyond simplifying the trip planning process,
      <span class="logo">Get Yr Beta</span>, has also been my pet-project for
      learning Python Django. As such, it is a labor of love and a work in
      progress. If you have any comments, I'd love to hear from you. If you'd
      like to contribute, I'd really love to hear from you. Feel free to drop
      me a line: derek.covey@gmail.com
    </p>
    <p>
      Have fun and enjoy the <span class="logo">View</span>!
    </p>
  </div>

{% endblock content %}
