/*Pad the entire page down so the fixed navbar doesn't overlap*/
.wrapper {
  margin-top: 100px;
}

/*The content-wrapper uses float:right so that it exists inline
with the sidebar. Neither is cleared, so they will float on
top of each other. The content-wrapper sets width:100% so that it
takes up the full screen width. The sidebar then has a fixed width
from the left and the .content class has a fixed margin from the
left.*/
.content-wrapper {
  float: right;
  width: 100%;
}

.content {
  margin-left: 310px;
  overflow: auto;
}

.sidebar {
  position: fixed;
  width: 280px;
  overflow: hidden;
  background: #f5f5f5;
  color: #00021A;
  border-right: 1px solid black;
  min-height: 600px;
}

.sidebar-heading {
  margin-bottom: 20px
}

.nav-sidebar li{
  display: block;
  text-align: left;
  margin: 7px auto;
  width: 100%;
}

.nav-sidebar a{
  font-size: 17pt;
  font-family: 'Futura';
  letter-spacing: .1pt;
  display: block;
  text-align: left;
  width: 100%;
}

.nav-sidebar > .nav-item > .active {
  color: #000099;
}

/*This eliminates the sidebar for small screens.
To be implemented later*/
/*@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .content {
    margin-left: 0;
  }
}*/

/*Emergency Contact and Vehicle Forms*/
/*This is the label suffixed by a :*/
.form-control-label {
  font-size: 14pt;
  font-weight: bold;
  display: block;
}

/*Emergency Contact and Vehicle lists*/
ul.account_info_list {
  list-style-type: none;
}

ul.account_info_list a {
  font-size: 13pt;
}

li.list_item_title {
  font-size: 17pt;
  font-weight: bold;
}

li.list_item_label {
  font-size: 15pt;
  font-weight: bold;
  display: inline-block;
}

li.list_item_info {
  font-size: 15pt;
  display: inline-block;
}

/*Content headers and "add new" links*/
.header {
  margin-bottom: 20pt
}

.header a{
  font-size: 1.3em;
}

.container {
  margin-top: 40px;
  margin-bottom: 40px;
}
