/*Emergency Contact and Vehicle Forms*/
/*This is the label suffixed by a :*/
.form-control-label {
  font-size: 1em;
  font-weight: bold;
  display: block;
}

/*Emergency Contact and Vehicle lists*/
ul.account_info_list {
  list-style-type: none;
}
li.list_item_title {
  font-size: 1.3em;
  font-weight: bold;
}
li.list_item_label {
  font-size: 1em;
  font-weight: bold;
  display: inline-block;
}
li.list_item_info {
  font-size: 1.1em;
  display: inline-block;
}

/*Content headers and "add new" links*/
.header {
  margin-bottom: 10px;
}
.header a{
  font-size: 1.3em;
}
