{% extends 'project/base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/account_info/style.css' %}" />
{% endblock stylesheet %}

{% block content %}
  <div class="wrapper">
    {% include "account_info/menu.html" %}
    <div class="content-wrapper">
      <div class="content">
        <div class="banner-logo">
          <h1>Delete Emergency Contact</h1>
        </div>
        <ul class="account_info_list">
          <li class="list_item_title">{{ emergencycontact.full_name }}</li>
          {% if emergencycontact.preferred_name %}
            <li class="list_item_label">Preferred name:</li>
            <li class="list_item_info">{{ emergencycontact.preferred_name }}</li>
            <br>
          {% endif %}
          {% if emergencycontact.relationship %}
            <li class="list_item_label">Relationsip:</li>
            <li class="list_item_info">{{ emergencycontact.relationship }}</li>
            <br>
          {% endif %}
          {% if emergencycontact.primary_phone %}
            <li class="list_item_label">Phone number:</li>
            <li class="list_item_info">{{ emergencycontact.primary_phone }}</li>
            <br>
          {% endif %}
          {% if emergencycontact.secondary_phone %}
            <li class="list_item_label">Secondary phone number:</li>
            <li class="list_item_info">{{ emergencycontact.secondary_phone }}</li>
            <br>
          {% endif %}
          {% if emergencycontact.email %}
            <li class="list_item_label">Email:</li>
            <li class="list_item_info">{{ emergencycontact.email }}</li>
            <br>
          {% endif %}
          {% if emergencycontact.street_address_line1 %}
            <li class="list_item_label">Address 1:</li>
            <li class="list_item_info">{{ emergencycontact.street_address_line1 }}</li>
            <br>
          {% endif %}
          {% if emergencycontact.street_address_line2 %}
            <li class="list_item_label">Address 2:</li>
            <li class="list_item_info">{{ emergencycontact.street_address_line2 }}</li>
            <br>
          {% endif %}
          {% if emergencycontact.city %}
            <li class="list_item_label">City:</li>
            <li class="list_item_info">{{ emergencycontact.city }}</li>
            <br>
          {% endif %}
          {% if emergencycontact.state %}
            <li class="list_item_label">State:</li>
            <li class="list_item_info">{{ emergencycontact.state }}</li>
            <br>
          {% endif %}
          {% if emergencycontact.zip_code %}
            <li class="list_item_label">ZIP code:</li>
            <li class="list_item_info">{{ emergencycontact.zip_code }}</li>
          {% endif %}
          <br><br>
        </ul>
        <form action="{% url 'account_info:emerg_contact_delete' emergencycontact.id %}" method="post">
          {% csrf_token %}
          <button type="submit" name="submit" class="btn btn-danger"><i class="fa fa-trash-o fa-lg"></i> Delete Emergency Contact</button>
          <a href="{% url 'account_info:emerg_contact_list' %}" name="cancel" value="Cancel" class="btn btn-secondary">Cancel</a>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
