{% load static %}<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}Get Yr Beta{% endblock %}</title>
  <link rel="shortcut icon" type="image/ico" href="{% static 'img/favicon.ico' %}"/>
  <meta name="Description" content="Get Yr Beta is a tool to facilitate coordination and orgnaization of trip planning. It will collect information about the trip including group gear, logistics, and route details. It will organize information about participants including carpools and emergency contact information. It will organize all collected information into a convenient pdf and send to all participants.">
  <meta property="og:title" content="Coordinate and Organize Trip Planning Information" />
  <meta property="og:description" content="Get Yr Beta is a tool to facilitate coordination and orgnaization of trip planning. It will collect information about the trip including group gear, logistics, and route details. It will organize information about participants including carpools and emergency contact information. It will organize all collected information into a convenient pdf and send to all participants." />
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Get Yr Beta" />
  <meta property="og:url" content="https://getyrbeta.com{{ request.path }}" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:image" content="https://getyrbeta.com{% static 'img/GYB_1x1.png' %}" />
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="150" />
  <meta property="og:image:height" content="150" />

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <!-- Navbar CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'sitewide_css/navbar.css' %}" />
  <!-- Footer CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'sitewide_css/footer_color_bar.css' %}" />
  <!-- Font Awesome CSS-->
  <script src="https://use.fontawesome.com/8a609c9c4b.js"></script>
  <!-- Sitewide theme CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'sitewide_css/theme.css' %}" />
  <!-- Addins from apps -->
  {% block stylesheet %}{% endblock %}
</head>
<body>
  {% block javascript1 %}{% endblock javascript1%}
  <div class="wrapper">
    {% include 'core/header.html' %}
    <main>
      <div class="container">
        {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
        {% endif %}
        {% block content %}{% endblock content %}
      </div>
    </main>
    <footer>
      {% comment "footer coming soon" %}
      {% include 'core/footer_color_bar.html' %}
      {% endcomment %}
    </footer>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{% static 'js/jquery-3.2.1.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  {% block javascript2 %}{% endblock javascript2%}
</body>
</html>
