<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button data-target="#header-menu" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{% url 'welcome' %}" class="navbar-brand value-brand">Tripplan</a>
      </div>
      <div class="collapse navbar-collapse" id="header-menu">
        <ul class="nav navbar-nav">
          <li>placeholder link</li>
        </ul>
        {% if user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'trips:trip_list' %}">Trips</a></li>
            <li><a href="{% url 'trips:notifications' %}">Notifications</a></li>
            <li>
              <a href="{% url 'account_info:account_profile' %}">
                <span data-toggle="tooltip" data-placement="bottom" data-container="body" title="My profile">{{ user.profile.get_screen_name }}</span>
              </a>
            </li>
            <li>
              <a href="{% url 'authentication:signout' %}">
                <span data-toggle="tooltip" data-placement="bottom" data-container="body" title="Sign out">
                  <span class="glyphicon glyphicon-log-out"></span>
                </span>
              </a>
            </li>
          </ul>
        {% else %}
          <a href="{% url 'auth:signin' %}" title="Sign in" class="btn btn-default navbar-btn navbar-right">Sign in</a>
          <a href="{% url 'auth:signup' %}" title="Sign up" class="btn btn-primary navbar-btn navbar-right" style="margin-right: 5px;">Sign up</a>
        {% endif %}
      </div>
    </div>
  </nav>
</header>
