{% load static %}

<header>
  <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'welcome' %}">
      <img src="{% static 'img/GYB_1x1.png' %}" width="65" height="65" class="d-inline-block align-center" alt="">
      Get Yr Beta
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if user.is_authenticated %}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Trips<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Notifications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
      </ul>
      {% else %}
        <div class="ml-auto authentication">
          <a href="{% url 'authentication:signin' %}" title="Sign in" class="btn btn-default navbar-btn">Sign in</a>
          <a href="{% url 'authentication:signup' %}" title="Sign up" class="btn btn-primary navbar-btn" style="margin-right: 5px;">Sign up</a>
        </div>
      {% endif %}
    </div>
  </nav>
</header>
