{% extends 'project/base.html' %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Signup · Get Yr Beta{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'authentication/style.css' %}" />
{% endblock stylesheet %}

{% block content %}
  <div class="auth-container" id="signup-container">
    <div class="heading">
      <h1 class="align-center">Confirm sign out</h1>
    </div>
    <hr>
    <form method="post" action="{% url 'authentication:logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button class="btn btn-primary align-center" type="submit">Sign Out</button>
    </form>
  </div>

{% endblock content %}
