.page:after {
  content: "";
  display: table;
  clear: both;
}

/*Pad the entire page down so the fixed navbar doesn't overlap*/
.wrapper {
  margin-top: 100px;
}

/*The menu bar is fixed width on the left and the content takes up the
  remaining space to the right*/
.content-wrapper {
  float: right;
  width: 100%;
}

.content {
  margin-left: 310px;
  clear: both;
  overflow: auto;
}

.sidebar {
  position: fixed;
  width: 280px;
  overflow: hidden;
  background: #f5f5f5;
  color: #00021A;
  border-right: 1px solid black;
  min-height: 600px;
}

.nav-sidebar li{
  display: block;
  text-align: left;
  margin: 7px auto;
  width: 100%;
}

.nav-sidebar a{
  font-size: 17pt;
  font-family: 'Futura';
  letter-spacing: .1pt;
  display: block;
  text-align: left;
  width: 100%;
}

.nav-sidebar > .active > a {
  color: #000099;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .content {
    margin-left: 0;
  }
}

.form-control-label {
  font-size: 14pt;
  font-weight: bold;
  display: block;
}

.form-control {
    font-size: 1.2rem;
}

ul.account_info_list {
  list-style-type: none;
}

ul.account_info_list a {
  font-size: 13pt;
}

li.list_item_title {
  font-size: 17pt;
  font-weight: bold;
}

li.list_item_label {
  font-size: 15pt;
  font-weight: bold;
  display: inline-block;
}

li.list_item_info {
  font-size: 15pt;
  display: inline-block;
}


.header {
  margin-bottom: 20pt
}

.header a{
  font-size: 1.3em;
}
