.page:after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  margin-top: 100px;
}

.content-wrapper {
  float: right;
  width: 100%;
}

.content {
  margin-left: 300px;
  clear: both;
  overflow: auto;
}

.sidebar {
  position: fixed;
  width: 280px;
  overflow: hidden;
  background: #f5f5f5;
  color: #00021A;
  border-right: 1px solid black;
  min-height: 600px;
}

.nav-sidebar li{
  display: block;
  text-align: left;
  margin: 7px auto;
  width: 100%;
}

.nav-sidebar a{
  font-size: 17pt;
  font-family: 'Futura';
  letter-spacing: .1pt;
  display: block;
  text-align: left;
  width: 100%;
}

.nav-sidebar > .active > a {
  color: #000099;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .content {
    margin-left: 0;
  }
}

.control-label {
  font-size: 14pt;
  font-weight: bold;
  display: block;
}

.form-field {
  padding-bottom: 12px;
}

/*.emerg_contact_list li{
  font-size: 24pt;
}

li.emergency_contact_name {
  font-size: 24pt;
}*/

ul.emerg_contact_list {
  list-style-type: none;
}

ul.emerg_contact_list a {
  font-size: 13pt;
}

li.emergency_contact_name {
  font-size: 17pt;
  font-weight: bold;
}

li.emergency_contact_label {
  font-size: 15pt;
  font-weight: bold;
  display: inline-block;
}

li.emergency_contact_info {
  font-size: 15pt;
  display: inline-block;
}
