/*Pad the entire page down so the fixed navbar doesn't overlap*/
.wrapper {
  margin-top: 100px;
}

/*The content-wrapper uses float:right so that it exists inline
with the sidebar. Neither is cleared, so they will float on
top of each other. The content-wrapper sets width:100% so that it
takes up the full screen width. The sidebar then has a fixed width
from the left and the .content class has a fixed margin from the
left.*/
.content-wrapper {
  float: right;
  width: 100%;
}

.content {
  margin-left: 310px;
  overflow: auto;
}

.sidebar {
  position: fixed;
  width: 280px;
  overflow: hidden;
  background: #f5f5f5;
  color: #00021A;
  border-right: 1px solid black;
  min-height: 600px;
}

.sidebar-heading {
  margin-bottom: 20px
}

.nav-sidebar li{
  display: block;
  text-align: left;
  margin: 7px auto;
  width: 100%;
}

.nav-sidebar a{
  font-size: 17pt;
  font-family: 'Futura';
  letter-spacing: .1pt;
  display: block;
  text-align: left;
  width: 100%;
}

.nav-sidebar > .nav-item > .active {
  color: #000099;
}

/*This eliminates the sidebar for small screens.
To be implemented later*/
/*@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .content {
    margin-left: 0;
  }
}*/

.banner-logo {
  margin-bottom: 20pt;
}
.banner-logo h1{
  color: #ff8000;
  font-size: 42pt;
  font-family: 'American Typewriter';
  letter-spacing: -1px;
}

.trip-list {
  background: #e6f2ff;
  margin-bottom: 50pt;
}

.trip-list .header {
  background: #99ccff;
  padding: 2pt;
}

li.hidden_bullet {
  list-style:none;
}

.header i{
  margin-left: 7pt;
}

.header h3{
  margin-right: 20pt;
  display: inline;
}

.header a{
  font-size: 20pt;
}

.bold-label {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 8pt;
}

.trip-info {
  font-size: 1.1em;
}

.list-padding {
  margin-top: 10pt;
  margin-bottom: 10pt;
}

/*Member search field*/
#id_email_search {
  width: 80%;
  margin: 8px;
}

.trip-forms .form-control-label {
  font-size: 1.1em;
}

#confirm-add-member {
  display: none;
}

#confirm-add-member p{
  display: inline-block;
  margin-right: 15px;
}

#confirm-add-member button{
  margin: 2px;
}

#new-member-added {
  display: none;
}
