/*Pad the entire page down so the fixed navbar doesn't overlap*/
.wrapper {
  margin-top: 10px;
}

.banner-logo {
  margin-bottom: 20pt;
}
.banner-logo h1{
  color: #ff8000;
  font-size: 42pt;
  font-family: 'American Typewriter';
  letter-spacing: -1px;
}

.trip-list {
  background: #e6f2ff;
  margin-bottom: 50pt;
}

.trip-list .header {
  background: #99ccff;
  padding: 2pt;
}

li.hidden_bullet {
  list-style:none;
}
