{% extends 'project/base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/account_info/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/project/sidebar_menu.css' %}" />
{% endblock stylesheet %}

{% block javascript_bottom %}
  {# sidebar slider #}
  <script src="{% static 'js/project/sidebar_menu.js' %}"></script>
{% endblock javascript_bottom %}

{% block content %}

  {# sidebar #}
  {% include "account_info/sidebar_menu.html" %}

  {# main content #}
  <div id="content">

    {% include "project/sidebar_button.html" %}
    <div class="header banner-logo">
      <h1>Vehicles</h1>
      <a href="{% url 'account_info:vehicle_create' %}"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> Add Vehicle</a>
    </div>
    <ul class="account_info_list">
      {% for vehicle in object_list %}
        <div class="row">
          <div class="col-sm-auto">
            <a href="{% url 'account_info:vehicle_edit' vehicle.id  %}" aria-label="Edit"><i class="fa fa-pencil fa-lg" aria-hidden="false"></i></a>
            <a href="{% url 'account_info:vehicle_delete' vehicle.id  %}" aria-label="Delete"><i class="fa fa-trash fa-lg" aria-hidden="false"></i></a>
          </div>
          <div class="col-sm">
            <li class="list_item_title">{{ vehicle }}</li>
            <li class="list_item_label">Color:</li>
            <li class="list_item_info">{{ vehicle.color }}</li>
            <br>
            <li class="list_item_label">License Plate Number:</li>
            <li class="list_item_info">{{ vehicle.lic_plate_num }}</li>
            <br>
            <li class="list_item_label">License Plate State:</li>
            <li class="list_item_info">{{ vehicle.lic_plate_st }}</li>
            <br><br>
          </div>
        </div>
      {% endfor %}
    </ul>
  </div>
{% endblock content %}
