.navbar {
  background-color: #ff8000;
}
.navbar-light .navbar-brand {
  color: #ff8000;
  font-size: 32pt;
  font-family: 'American Typewriter';
  letter-spacing: -2px;
}
.navbar-nav .nav-item {
  font-size: 15pt;
}
#navbar-links {
  margin-right: 20px;
}
.navbar-link {
  font-size: 20pt;
  font-family: 'Futura';
  margin-left: 10px;
  margin-right: 10px;
  letter-spacing: .4px;
}
body {
  padding-top: 100px;
}
