{% extends 'project/base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/trips/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/trips/datepicker.css' %}" />
{% endblock stylesheet %}

{% block javascript_bottom %}
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script>
    $(function() {
      $( ".calendar" ).datepicker({
    		dateFormat: 'mm/dd/yy',
    		firstDay: 1
    	});

    	$(document).on('click', '.date-picker .input', function(e){
    		var $me = $(this),
    				$parent = $me.parents('.date-picker');
    		$parent.toggleClass('open');
    	});


    	$(".calendar").on("change",function(){
    		var $me = $(this),
    				$selected = $me.val(),
    				$parent = $me.parents('.date-picker');
    		$parent.find('.result').children('span').html($selected);
        $("#start_date").val($selected);
    	});
    });
  </script>
{% endblock javascript_bottom %}

{% block content %}
  <div class="wrapper">
    <div class="banner-logo">
      <h1>{{ page_title }}</h1>
    </div>
    <div class="trip-list" id="trip-list">
      <div class="header">
        <h3>Required Information</h3>
      </div>
      {% load crispy_forms_tags %}
      {% crispy form form.helper %}
    </div>
  </div>
{% endblock content %}
