{% extends 'project/base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/trips/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/project/sidebar_menu.css' %}" />
{% endblock stylesheet %}

{% block javascript_bottom %}
  {# sidebar slider #}
  <script src="{% static 'js/project/sidebar_menu.js' %}"></script>
{% endblock javascript_bottom %}

{% block below_nav %}
  {% include "project/sidebar_button.html" %}
{% endblock below_nav %}

{% block content %}
  {# sidebar #}
  {% include "trips/sidebar_menu.html" %}

  {# main content #}
  {% include "trips/partials/detail_content.html" %}
{% endblock content %}
