{% extends 'project/base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load trips_tags %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/trips/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/project/sidebar_menu.css' %}" />
{% endblock stylesheet %}

{% block javascript_bottom %}
  {# add/edit gear #}
  <script>
    // Handler for button hover (shades button like a link)
    function handle_hover(buttons) {
      buttons.hover(function() {
        $(this).find("i.link-button").toggleClass('dark-hover');
      });
    }
    handle_hover($("button.link-button"));

    // Handler for edit button
    function handle_edit(buttons) {
      buttons.on("click", function() {
        alert("Edit functionality coming (very) soon!");
      });
    }
    handle_edit($(".edit-button"));

    // Handler for delete button
    function handle_delete(buttons) {
      buttons.on("click", function() {
        alert("Delete functionality coming (very) soon!");
      });
    }
    handle_delete($(".delete-button"));

    // Handler for "Add Gear" link. Adds text entry fields.
    $("#add-gear").on("click", function() {
      ajax_get_item();
    });

    // GET request to Item
    // Returns Item form
    function ajax_get_item(get_item_data) {
      $.ajax({
        url: "{% url 'trips:add_item' %}",
        data: {
          "trip_id": {{ trip.id }},
        },
        dataType: "html",
        type: "GET",

        success: function(response) {
          // Add row for new item entry
          $("#add-gear").parent().before(response);
          var new_row = $("#add-gear").parent().prev();

          // Enable hover response for new save and cancel buttons
          handle_hover(new_row.find("button.link-button"));

          // Create handlers for save and cancel button
          new_row.find(".add-item-form").on("submit", function(event) {
            event.preventDefault();
            var post_item_data = $(this).serialize();
            // passing new_row allows multiple "row forms" to be open
            ajax_post_item(post_item_data, new_row);
          });

          $("th.trip-member").each(function() {
            var get_itemowner_data = {
              "owner_id": parseInt($(this).find("span.member_id").text()),
            };
            var td_class = "owner-id-" + get_itemowner_data["owner_id"]
            new_row.append('<td class="' + td_class + ' itemform-element"></td>')
            ajax_get_itemowner(get_itemowner_data, td_class, new_row);
          });
        },

        error: function(data, textStatus, jqXHR) {
          post_message("GetYrBeta is acting up! Please contact customer support")
        },
      });
    }

    // GET request to ItemOwner.
    // Returns ItemOwner form.
    function ajax_get_itemowner(get_itemowner_data, td_class, current_row) {
      $.ajax({
        url: "{% url 'trips:add_itemowner' %}",
        data: get_itemowner_data,
        dataType: "html",
        type: "GET",

        success: function(response) {
          current_row.find("." + td_class).append(response);
        },

        error: function(data, textStatus, jqXHR) {
          post_message("GetYrBeta is acting up! Please contact customer support")
        },
      });
    }

    // POST request to Item
    function ajax_post_item(post_item_data, current_row) {
      $.ajax({
        url: "{% url 'trips:add_item' %}",
        data: post_item_data,
        dataType: "json",
        type: "POST",

        success: function(data) {
          if (data["msg"]) {
            post_message(data["msg"]);
          }

          current_row.find("td.itemform-element").each(function() {
            if ($(this).find(".item-quantity").val() > 0) {
              $(this).find("[name=item_id]").val(data['item_id'])
              var post_itemowner_data = $(this).find("form").serialize();
              ajax_post_itemowner(post_itemowner_data);
            }
          });
        },

        error: function(data, textStatus, jqXHR) {
          post_message("Your gear was not able to be added. Please make sure you included a description")
        },

        complete: function(jqXHR, textStatus) {
          if (textStatus === "success") {
            // Add edit/delete buttons
            // Replace description text box with plain text
            var th_element = current_row.find("th");
            th_element.removeClass("itemform-element");
            th_element.addClass("row-header");
            th_element.find("form").replaceWith(function() {
              return '<div class="button-group"><button class="btn link-button edit-button"><i class="fa fa-pencil fa-lg link-button" aria-hidden="false"></i></button><button class="btn link-button delete-button"><i class="fa fa-trash fa-lg link-button" aria-hidden="false"></i></button></div><span>' + $(this).find(".item-description").val() + '</span>';
            });
            // Enable responses for new edit and delete buttons
            handle_hover(th_element.find("button.link-button"));
            handle_edit(th_element.find("button.edit-button"));
            handle_delete(th_element.find("button.delete-button"));

            // Replace quantity text boxes with plain text
            var td_elements = current_row.find("td");
            td_elements.removeClass();
            td_elements.find("form").replaceWith(function() {
              return '<span>' + $(this).find(".item-quantity").val() + '</span>';
            });
          }
        }
      });
    }

    // POST request to ItemOwner
    function ajax_post_itemowner(post_itemowner_data) {
      $.ajax({
        url: "{% url 'trips:add_itemowner' %}",
        data: post_itemowner_data,
        dataType: "json",
        type: "POST",

        success: function(data) {
          // No message expected with current functionality
          if (data["msg"]) {
            post_message(data["msg"]);
          }
        },

        error: function(data, textStatus, jqXHR) {
          post_message("Your gear was not able to be added. Please make sure you included a description")
          console.log("itemowner post fail")
        },
      });
    }

    // Display success message after adding model instance.
    function post_message(msg) {
      var message_container = $("#message-container");
      message_container.empty();
      message_container.append('<li class="alert alert-success ajax-alert">' + msg + '</li>');
      $(".ajax-alert").slideDown("fast");
    }

  </script>

  {# sidebar slider #}
  <script src="{% static 'js/project/sidebar_menu.js' %}"></script>
{% endblock javascript_bottom %}

{% block below_nav %}
  {% include "project/sidebar_button.html" %}
{% endblock below_nav %}

{% block content %}
  {# sidebar #}
  {% include "trips/sidebar_menu.html" %}

  {# main content #}
  <div id="content">

    <div class="banner-logo">
      <h1>Gear</h1>
    </div>

    <div class="x-scroll">
      <table id="gear-table" class="table table-header-rotated table-striped table-hover table-striped-column">
        <thead>
          <tr>
            <th></th> {# column for item descriptions. I.e. row headers #}

            {# Following headers are rotated #}
            {% for trip_member in trip_members %}
              <th class="header rotate-45 trip-member">
                <div>
                  <span>{{ trip_member.member.get_short_name }}</span>
                  <span class="member_id hidden">{{ trip_member.member.id }}</span>
                </div>
              </th>
            {% endfor %}

          </tr>
        </thead>
        <tbody>
          {% for item in trip_items %}
            <tr>
              <th class="row-header no-wrap">
                <div class="button-group">
                  <button class="btn link-button edit-button"><i class="fa fa-pencil fa-lg link-button" aria-hidden="false"></i></button>
                  <button class="btn link-button delete-button"><i class="fa fa-trash fa-lg link-button" aria-hidden="false"></i></button>
                </div>

                <span>{{ item.description }}</span>
              </th>

              {% for trip_member in trip_members %}
                <td>{{ item.itemowner_set|get_quantity:trip_member.member }}</td>
              {% endfor %}

            </tr>
          {% endfor %}

          {# final row holds add-new button #}
          <tr>
            <th id="add-gear">
              <button class="btn link-button"><i class="fa fa-plus-circle fa-lg link-button" aria-hidden="true"></i> Add Gear</button>
            </th>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
