{% extends 'project/base.html' %}

{% load static %}
{% load trips_tags %}
{% load widget_tweaks %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/trips/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/project/sidebar_menu.css' %}" />
{% endblock stylesheet %}

{% block javascript_bottom %}
  {# add/edit gear #}
  <script>
    // Handler for "Add Gear" link. Adds text entry fields.
    $("#add-gear").on("click", function() {
      $(this).parent().before($("#row-template").html());

      // Create handlers for save and cancel button
      // Passing csrf token with data due to CSRF_COOKIE_HTTPONLY
      $(".save-item").on("click", function() {
        var data = $(this).parent().parent().parent().find(".add-item-form").serialize();
        ajax_create_item(data);
      });
    });

    // POST to Item
    function ajax_create_item(data) {
      $.ajax({
        url: "{% url 'trips:add_item' %}",
        data,
        dataType: "json",
        type: "POST",
        success: function(data){
          console.log("Successfully added item")
        }
      });
    }
  </script>

  {# sidebar slider #}
  <script src="{% static 'js/project/sidebar_menu.js' %}"></script>
{% endblock javascript_bottom %}

{% block below_nav %}
  {% include "project/sidebar_button.html" %}
{% endblock below_nav %}

{% block content %}
  {# sidebar #}
  {% include "trips/sidebar_menu.html" %}

  {# main content #}
  <div id="content">

    <div class="banner-logo">
      <h1>Gear</h1>
    </div>

    {# Table of users and emergency contacts #}
    <div class="x-scroll">
      <table id="gear-table" class="table table-header-rotated table-striped table-hover table-striped-column">
        <thead>
          <tr>
            <th class="button-column"></th> {# column for buttons #}
            <th></th> {# column for item descriptions. I.e. row headers #}

            {# Following headers are rotated #}
            {% for trip_member in trip_members %}
              <th class="header rotate-45"><div><span>{{ trip_member.member.get_short_name }}</span></div></th>
            {% endfor %}

          </tr>
        </thead>
        <tbody>
          {% for item in trip_items %}
            <tr>
              <th class="no-wrap button-column">
                <a href="#"><i class="fa fa-pencil fa-lg" aria-hidden="false"></i></a>
                <a href="#"><i class="fa fa-trash fa-lg two-px-margin-left" aria-hidden="false"></i></a>
              </th>

              <th class="row-header">{{ item.description }}</th>

              {% for trip_member in trip_members %}
                <td>{{ item.itemowner_set|get_quantity:trip_member.member }}</td>
              {% endfor %}

            </tr>
          {% endfor %}

          {# final row holds add-new button #}
          <tr>
            <th id="add-gear" colspan="2">
              <a href="#"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> Add Gear</a>
            </th>
          </tr>

        </tbody>
      </table>

      {# hidden template row. Added to table when #add-gear is pressed #}
      <script type="text/template" id="row-template">
        <tr>
          <th>
            <a href="#"><i class="fa fa-lock fa-lg save-item" aria-hidden="false"></i></a>
            <a href="#"><i class="fa fa-times fa-lg two-px-margin-left cancel-item" aria-hidden="false"></i></a>
          </th>
          <th class="item-form">
            <form class="add-item-form">
              {% csrf_token %}
              {{ form.description }}
              {{ form.trip_id }}
            </form>
          </th>
          {% for trip_member in trip_members %}
            <td class="item-form">{{ form.quantity|add_class:"item-quantity" }}</td>
          {% endfor %}
        </tr>
      </script>

    </div>
  </div>
{% endblock content %}
