{% extends 'project/base.html' %}

{% load static %}
{% load trips_tags %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/trips/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/project/sidebar_menu.css' %}" />
{% endblock stylesheet %}

{% block javascript_bottom %}
  {# sidebar slider #}
  <script src="{% static 'js/project/sidebar_menu.js' %}"></script>
{% endblock javascript_bottom %}

{% block below_nav %}
  {% include "project/sidebar_button.html" %}
{% endblock below_nav %}

{% block content %}
  {# sidebar #}
  {% include "trips/sidebar_menu.html" %}

  {# main content #}
  <div id="content">

    <div class="banner-logo">
      <h1>Gear</h1>
    </div>

    {# Table of users and emergency contacts #}
    <div class="x-scroll">
      <table id="gear-table" class="table table-header-rotated table-striped table-hover table-striped-column">
        <thead>
          <tr>
            <th></th>
            <!-- Following headers are rotated -->
            {% for trip_member in trip_members %}
              <th class="header rotate-45"><div><span>{{ trip_member.member.get_short_name }}</span></div></th>
            {% endfor %}
            <th class="trailing-column"><th>
          </tr>
        </thead>
        <tbody>
          {% for item in trip_items %}
            <tr>
              <td class="row-header">{{ item.description }}</td>

              {% for trip_member in trip_members %}
                <td>{{ item.itemowner_set|get_quantity:trip_member.member }}</td>
              {% endfor %}

              <td class="trailing-column"></td>
            </tr>
          {% endfor %}

          {# final row holds add-new button #}
          <tr>
            <td id="add-gear">
              <a href="#"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> Add Gear</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
