<div class="overlay"></div>

<div id="sidebar" role="navigation">
  <button type="button" id="dismiss">
    <i class="fa fa-times" aria-hidden="false"></i>
  </button>

  <div class="heading">
    <h2>Trip Info:</h2>
  </div>

  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'trips:trip_detail' trip.id %}">Overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'trips:trip_members' trip.id %}">Members</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'trips:emergency_info' trip.id %}">Emergency Info</a>
    </li>
    {% comment "Future functionality" %}
    <li class="nav-item">
      <a class="nav-link" href="#">Vehicles</a>
    </li>
    {% endcomment %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'trips:gear' trip.id %}">Gear List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Trip Plan</a>
    </li>
  </ul>
</div>
