{% extends 'project/base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'account_info/style.css' %}" />
{% endblock stylesheet %}

{% block content %}
  <div class="wrapper">
    {% include "account_info/menu.html" %}
    <div class="content-wrapper">
      <div class="content">
        <div class="banner-logo">
          <h1>{{ page_title }}</h1><br>
        </div>
        {% load crispy_forms_tags %}
        {% crispy form form.helper %}
      </div>
    </div>
  </div>
{% endblock content %}
