<div class="overlay"></div>

<div id="sidebar" role="navigation">
  <button type="button" id="dismiss">
    <i class="fa fa-times" aria-hidden="false"></i>
  </button>

  <div class="heading">
    <h2>Account Info:</h2>
  </div>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'account_info:account_profile' %}">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'account_info:emerg_contact_list' %}">Emergency Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'account_info:vehicle_list' %}">Vehicle Info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'authentication:socialaccount_connections' %}">Login Info</a>
    </li>
  </ul>
</div>
