.navbar {
  background-color: #ff8000;
}
.navbar-light .navbar-brand {
  color: #ff8000;
  font-size: 2.6em;
  font-family: 'American Typewriter';
  letter-spacing: -2px;
}
.navbar-nav .nav-item {
  font-size: 1.2em;
}
#navbar-links {
  margin-right: 20px;
}
.navbar-link {
  font-size: 1.2em;
  font-family: 'Futura';
  margin-left: 10px;
  margin-right: 10px;
  letter-spacing: .4px;
}
/*Drop the messages container down to avoid overlap with navbar*/
#navbar-spacer {
  padding-top: 91px;
}
/*Drop the main content to look nice.*/
main {
  margin-top: 34px;
}
