.banner-logo {
  margin-bottom: 20pt;
}
.banner-logo h1{
  color: #ff8000;
  font-size: 2.4em;
  font-family: 'American Typewriter';
  font-weight: normal;
  /* Removed letter spacing for now due to error with django-easy-pdf */
  /* letter-spacing: -1px; */
}
#message-container {
  list-style: none;
  padding-left: 0;
  margin-top: 46px;
}
#message-container > li {
  margin-bottom: 2px;
}
#message-container .success {
  background: #d6f5d6;
    padding-top: 2px;
    padding-bottom: 2px;
}
.ajax-alert {
  display: none;
}
