{% extends 'pdfgen/pdf_base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="css/pdfgen/style.css" />
  <link rel="stylesheet" type="text/css" href="css/project/theme.css" />
  <link rel="stylesheet" type="text/css" href="css/trips/style.css" />
{% endblock stylesheet %}

{% block content %}
  <div class="banner-logo">
    <h1>Trip Plan for {{ trip.title }}</h1>
    <p>Thanks for using Get Yr Beta. Enjoy the view!</p>
    <br>
  </div>

  <div>
    {% include "trips/partials/emergency_info_content.html" %}
  </div>

  <div class="page-break-before">
    {% include "trips/partials/detail_content.html" %}
  </div>

  <div class="page-break-before">
    {% include "trips/partials/gear_content.html" with pdf=True %}
  </div>
{% endblock content %}
