{% extends 'pdfgen/pdf_base.html' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="http://localhost:8000/static/css/project/theme.css" />
  <link rel="stylesheet" type="text/css" href="http://localhost:8000/static/css/trips/style.css" />
{% endblock stylesheet %}

{% block content %}
  {% include "trips/partials/emergency_info_content.html" %}
  {% include "trips/partials/detail_content.html" %}
  {% include "trips/partials/gear_content.html" %}
{% endblock content %}
